:root {
  --main-bg-color: #f5f5f5;
  --main-color: #0b3d91;
  --text-color: #212121;
  --secondary-color: #b50909;
  --secondary-bg-color: #f1f4f6;
  --border-color: #5a5a5a55;
  --transparent-black: #21212150;
}
* {
  user-select: none;
  font-family: "Roboto", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.bg {
  background-color: var(--main-bg-color);
}
.mc {
  color: var(--main-color);
}
.sc {
  color: var(--secondary-color);
}
.scbg {
  background-color: var(--secondary-bg-color);
}
.mcbg {
  background-color: var(--main-color);
}
.textBlack {
  color: var(--text-color);
}
.textWhite {
  color: var(--main-bg-color);
}
.dfcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dfsc {
  display: flex;
  justify-content: start;
  align-items: center;
}
.dfCcc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dfCsc {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.pointer {
  cursor: pointer;
}
.toasterContainer {
  z-index: 9999653 !important;
}
.start {
  animation: anim 0.25s ease-in-out forwards;
}
.transition {
  transition: 0.25s;
}
@keyframes anim {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
